<ion-view view-title="Belajar Iqro" style="background-color:;">
    <ion-content class="im-wrapper">
        <button ui-sref="app.helaian1" class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 1
        </button>
        <button ui-sref="app.helaian2" class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 2
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 3
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 4
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 5
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 6
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 7
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 8
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 9
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 10
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 11
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 12
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 13
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 14
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 15
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 16
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 17
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 18
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 19
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 20
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 21
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 22
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 23
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 24
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 25
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 26
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 27
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 28
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 29
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 30
        </button>
        <button class="button button-outline button-block button-dark icon-left ion-ios-folder">
          Helaian 31
        </button>
    </ion-content>
</ion-view>
