<ion-view view-title="Halaman 5" style="background-color:;">
    <ion-content class="im-wrapper">
      <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col" >
          <img src="img/huruf/Gambar5.PNG" alt="" />
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar4.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar1.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar5.PNG" alt="" />
        </div>
      </div>
      <hr>
      <!-- baris 1 -->
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar4.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar2.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar3.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar5.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
      </div>
      <hr>
      <!-- baris 2 -->
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar2.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar1.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar3.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar5.PNG" alt="" />
        </div>
      </div>
      <hr>
      <!-- baris 3 -->
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar1.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar4.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar1.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar5.PNG" alt="" />
        </div>
      </div>
      <hr>
      <!-- baris 4 -->
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar1.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar3.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar2.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar4.PNG" alt="" />
        </div>
      </div>
      <hr>
      <!-- baris 5 -->
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar1.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar5.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar5.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar1.PNG" alt="" />
        </div>
      </div>
      <hr>
      <!-- baris 6 -->
      <div class="row">
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar5.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar4.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar3.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar2.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar1.PNG" alt="" />
        </div>
      </div>
      <!-- baris 7 -->
    </item-content>
</ion-view>
