<ion-view view-title="Halaman 27" style="background-color:;">
    <ion-content class="im-wrapper">
      <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">
          <img src="img/huruf/Gambar29.PNG" alt="" />
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar25.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar29.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar11.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar29.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar15.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar10.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar29.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar15.PNG" alt="" />
        </div>
      </div>
      <hr>
      <!-- baris 1 -->
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar7.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar29.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar27.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar23.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar22.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar26.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar19.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar29.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar12.PNG" alt="" />
        </div>
      </div>
      <hr>
      <!-- baris 2 -->
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar20.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar21.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar26.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar18.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar29.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar13.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar17.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar27.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar16.PNG" alt="" />
        </div>
      </div>
      <hr>
      <!-- baris 3 -->
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar29.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar8.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar29.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar4.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar9.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar5.PNG" alt="" />
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="img/huruf/Gambar24.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar29.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar27.PNG" alt="" />
        </div>
      </div>
      <hr>
      <!-- baris 4 -->
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar11.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar10.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar9.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar8.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar7.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar6.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar5.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar4.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar3.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar2.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar1.PNG" alt="" />
        </div>
      </div>
      <hr>
      <!-- baris 5 -->
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar19.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar18.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar17.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar16.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar15.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar14.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar13.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar12.PNG" alt="" />
        </div>
      </div>
      <hr>
      <!-- baris 6 -->
      <div class="row">
        <div class="col">
          <img src="img/huruf/Gambar29.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar28.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar27.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar26.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar25.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar24.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar23.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar22.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar21.PNG" alt="" />
        </div>
        <div class="col">
          <img src="img/huruf/Gambar20.PNG" alt="" />
        </div>
      </div>
      <!-- baris 7 -->
    </item-content>
</ion-view>
