<ion-view view-title="Cara Membara Hijaiyah">
    <ion-content >
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar1.PNG">
          <h2>A</h2>
          <p>"Huruf Pertama"</p>
        </div>
        <hr>
        <div class="item item-body">
          Suara dari pangkal tenggorokan, mulut terbuka lebar, suara tidak boleh dibesarkan dan tidak boleh dibaca "o".
        </div>
      </div>
      <!-- huruf 1 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar2.PNG">
          <h2>Ba</h2>
          <p>"Huruf Kedua"</p>
        </div>
        <div class="item item-body">
          Dua bibir menempel, nafas ditahan(tidak boleh keluar), berbeda dengan "ba" dalam bahasa Indonesia.
        </div>
      </div>
      <!-- huruf 2 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar3.PNG">
          <h2>Ta</h2>
          <p>"Huruf Ketiga"</p>
        </div>
        <div class="item item-body">
          Ujung lidah menempel pada pangkal gigi atas bagian dalam, nafas harus keluar.
        </div>
      </div>
      <!-- huruf 3 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar4.PNG">
          <h2>Tsa</h2>
          <p>"Huruf Keempat"</p>
        </div>
        <div class="item item-body">
          Ujung lidah menyentuh dua gigi atas, nafas keluar.
        </div>
      </div>
      <!-- huruf 4 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar5.PNG">
          <h2>Ja</h2>
          <p>"Huruf Kelima</p>
        </div>
        <div class="item item-body">
          Tengah lidah menempel langit-langit, nafas ditahan(tidak boleh keluar).
        </div>
      </div>
      <!-- huruf 5 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar6.PNG">
          <h2>Ha'</h2>
          <p>"Huruf Keenam"</p>
        </div>
        <div class="item item-body">
          Suara dari tengah-tengah tenggorokan, pengucapan bersih(tidak ada getar ditenggorokan), nafas keluar.
        </div>
      </div>
      <!-- huruf 6 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar7.PNG">
          <h2>Kha'</h2>
          <p>"Huruf Ketujuh"</p>
        </div>
        <div class="item item-body">
          Suara dari ujung tenggorokan, ketika diucapkan ada getar di tenggorokan, mulut mecucu dan nafas keluar.
        </div>
      </div>
      <!-- huruf 7 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar8.PNG">
          <h2>Da</h2>
          <p>"Huruf Kedelapan"</p>
        </div>
        <div class="item item-body">
          Ujung lidah menempel pada pangkal gigi atas bagian dalam, nafas ditahan(tidak boleh keluar) berbeda dengan "da" dalam bahasa Indonesia.
        </div>
      </div>
      <!-- huruf 8 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar9.PNG">
          <h2>Dza</h2>
          <p>"Huruf Kesembilan"</p>
        </div>style="background-color:;
        <div class="item item-body">
          Suara dari pangkal tenggorokan, mulut terbuka lebar, suara tidak boleh dibesarkan dan tidak boleh dibaca "o".
        </div>
      </div>
      <!-- huruf 9 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar10.PNG">
          <h2>Ra</h2>
          <p>"Huruf Kesepuluh"</p>
        </div>
        <div class="item item-body">
          Ujung lidah sedikit lebih ke dalam daripada huruf "Nun/Na", ketika di ucap harus dibaca tebal(mulut mecucu).
        </div>
      </div>
      <!-- huruf 10 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar11.PNG">
          <h2>A</h2>
          <p>"Huruf Kesebelas"</p>
        </div>
        <div class="item item-body">
          Ujung lidah menyentuh ujung dua gigi yang bawah, nafas tertahan(tetapi tetap sebagian keluar).
        </div>
      </div>
      <!-- huruf 11 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar12.PNG">
          <h2>sa</h2>
          <p>"Huruf Kedua belas"</p>
        </div>
        <div class="item item-body">
          Ujung lidah menyentuh ujung dua gigi yang bawah, nafas keluar, harus dibaca tipis(mulut mecece).
        </div>
      </div>
      <!-- huruf 12 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar13.PNG">
          <h2>Sya</h2>
          <p>"Huruf Ketiga belas"</p>
        </div>
        <div class="item item-body">
          Tengah lidah dengan langit-langit, suara tebal dan nafas keluar.
        </div>
      </div>
      <!-- huruf 13 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar14.PNG">
          <h2>Sha</h2>
          <p>"Huruf Keempat belas"</p>
        </div>
        <div class="item item-body">
          Ujung lidah menyentuh ujung dua gigi yang bawah, nafas keluar, suara tipis dan mulut mecucu.
        </div>
      </div>
      <!-- huruf 14 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar15.PNG">
          <h2>Dha</h2>
          <p>"Huruf Kelima belas"</p>
        </div>
        <div class="item item-body">
          Tepi lidah(kiri dan kanan) menyentuh gigi geraham, nafas ditahan(tidak boleh keluar) suara besar, mulut mecucu.
        </div>
      </div>
      <!-- huruf 15 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar16.PNG">
          <h2>Tha</h2>
          <p>"Huruf Keenam belas"</p>
        </div>
        <div class="item item-body">
          Ujung lidah menempel pada pangkal gigi atas bagian dalam, nafas ditahan(tidak boleh keluar), mulut mecucu.
        </div>
      </div>
      <!-- huruf 16 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar17.PNG">
          <h2>Zha</h2>
          <p>"Huruf Ketujuh belas"</p>
        </div>
        <div class="item item-body">
          Ujung lidah menempel pada ujung dua gigi atas, nafas agak tertahan(tetapi tetap sebagian keluar), suara besar, mulut mecucu.
        </div>
      </div>
      <!-- huruf 17 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar18.PNG">
          <h2>'A</h2>
          <p>"Huruf Kedelapan belas"</p>
        </div>
        <div class="item item-body">
          Suara dari tengah-tengah tenggorokan, nafas tertahan, suara seperti bindeng, jangan dibaca "nga".
        </div>
      </div>
      <!-- huruf 18 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar19.PNG">
          <h2>Gha</h2>
          <p>"Huruf Kesembilan belas"</p>
        </div>
        <div class="item item-body">
          Suara dari ujung tenggorokan, nafas agak tertahan, suara besar, mulut mecucu.
        </div>
      </div>
      <!-- huruf 19 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar2.PNG">
          <h2>Ba</h2>
          <p>"Huruf Keduapuluh"</p>
        </div>
        <div class="item item-body">
          Suara dari ujung tenggorokan, nafas agak tertahan, suara besar, mulut mecucu.
        </div>
      </div>
      <!-- huruf 20 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar21.PNG">
          <h2>Qa</h2>
          <p>"Huruf Keduapuluh satu"</p>
        </div>
        <div class="item item-body">
          Pangkal lidah sebelah atas sangat dekat dengan tenggorokan, nafas ditahan, mulut mecucu.
        </div>
      </div>
      <!-- huruf 21 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar22.PNG">
          <h2>Ka</h2>
          <p>"Huruf Keduapuluh dua"</p>
        </div>
        <div class="item item-body">
          Pangkal lidah bawah dekat dengan tenggorokan, nafas keluar.
        </div>
      </div>
      <!-- huruf 22 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar23.PNG">
          <h2>La</h2>
          <p>"Huruf Keduapuluh tiga"</p>
        </div>
        <div class="item item-body">
          Kanan kiri lidah hingga ujungnya menyentuh bagian atas mulut, keluar nafas, suara jangan dibesarkan.
        </div>
      </div>
      <!-- huruf 23 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar24.PNG">
          <h2>Ma</h2>
          <p>"Huruf Keduapuluh empat"</p>
        </div>
        <div class="item item-body">
          Dua bibir bersentuhan, suara jangan dibesarkan.
        </div>
      </div>
      <!-- huruf 24 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar25.PNG">
          <h2>Na</h2>
          <p>"Huruf Keduapuluh lima"</p>
        </div>
        <div class="item item-body">
          Ujung lidah agak kedalam dari pengucapan "La", suara jangan dibesarkan.
        </div>
      </div>
      <!-- huruf 25 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar26.PNG">
          <h2>Wa</h2>
          <p>"Huruf Keduapuluh enam"</p>
        </div>
        <div class="item item-body">
          Dua bibir mecucu lalu terbuka, suara tidak dibesarkan.
        </div>
      </div>
      <!-- huruf 26 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar27.PNG">
          <h2>Ha</h2>
          <p>"Huruf Keduapuluh tujuh"</p>
        </div>
        <div class="item item-body">
          Suara dari pangkal tenggorokan, suara besar dan nafas keluar.
        </div>
      </div>
      <!-- huruf 27 -->
      <div class="card">
        <div class="item item-avatar">
          <img src="img/huruf/Gambar29.PNG">
          <h2>Ya</h2>
          <p>"Huruf Keduapuluh sembilan"</p>
        </div>
        <div class="item item-body">
          Tengah lidah menyentuh langit-langit mulut, suara tidak boleh dibesarkan
        </div>
      </div>
      <!-- huruf 28 -->
    </ion-content>
</ion-view>
