<ion-view view-title="Tentang" style="background-color:;">
    <ion-content class="im-wrapper">
      <div class="text-center">
            <h1 class="animated bounceIn">Razky</h1>
            <p style="color:#7e886a;" class="animated bounceIn">Aplikasi Belajar Iqro Digital</p>
          </div>
          <!-- <div class="item-divider"></div> -->
          <div class="card stable-bg animated bounceIn">
            <div class="item">
              <h2>Terbuat Oleh</h2>
            </div>
          </div>
          <div class="card animated bounceIn">
            <a class="item item-icon-left">
              <i class="icon ion-ionic"></i>
              Ionic 1.3
            </a>
          </div>
          <div class="card animated bounceIn">
            <a class="item item-icon-left">
              <i class="icon ion-social-html5"></i>
              HTML 5
            </a>
          </div>
          <div class="card animated bounceIn">
            <a class="item item-icon-left">
              <i class="icon ion-social-css3"></i>
              CSS 3
            </a>
          </div>
          <div class="card animated bounceIn">
            <a class="item item-icon-left">
              <i class="icon ion-social-javascript"></i>
              javascript
            </a>
          </div>
          <div class="card animated bounceIn">
            <a class="item item-icon-left">
              <i class="icon ion-social-angular"></i>
              Angular JS
            </a>
          </div>

          <div class="a"></div>
          <div class="card stable-bg animated bounceIn">
            <div class="item">
              <h2>Library yang Digunakan</h2>
            </div>
          </div>
          <div class="card animated bounceIn">
            <a class="item item-icon-left">
              <i class="icon ion-social-angular-outline"></i>
                angular-ui-router
            </a>
          </div>
            <div class="card animated bounceIn">
              <a class="item item-icon-left">
                <i class="icon ion-ionic"></i>
                ionic-material
              </a>
            </div>
            <div class="card animated bounceIn">
              <a class="item item-icon-left">
                <i class="icon ion-social-css3-outline"></i>
                animate css
              </a>
            </div>
    </ion-content>
</ion-view>
